# IDE
.idea
_site


# Python
*.pyc
.ipynb_checkpoints

# Data
*.gz
*.zip
*.alz
cifar-10-batches-py

# Specific Data
imdb_full.pkl

# TensorFlow Model
*.model
*.tfmodel
_network
_network_backup
_tfmodel

# R
.Rhistory
